<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Niotec 2022 (versión <%= appVersion %>)</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal Delete User-->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteUserModalLabel">¿Estas seguro que quieres borrar el usuario?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Si acepta, no podrá acceder a la página con ese usuario.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-danger" href="#">Borrar</a>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal Delete Camera -->
<div class="modal fade" id="deleteCameraModal" tabindex="-1" role="dialog" aria-labelledby="deleteCameraModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCameraModalLabel">¿Realmente quiere borrar esta Cámara?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Si acepta, no podrá utilizarla más adelante.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-danger" href="#">Borrar</a>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal Delete Match Period -->
<div class="modal fade" id="deleteMatchPeriodModal" tabindex="-1" role="dialog" aria-labelledby="deleteMatchPeriodModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteMatchPeriodModalLabel">¿Realmente quiere borrar este Periodo de Tiempo?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Si acepta, no podrá utilizarlo más adelante.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-danger" href="#">Borrar</a>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal Delete Mixer Input-->
<div class="modal fade" id="deleteMixerInputModal" tabindex="-1" role="dialog" aria-labelledby="deleteMixerInputModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteMixerInputModalLabel">¿Realmente quiere borrar esta Entrada a Mezcladora?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Si acepta, no podrá utilizarla más adelante.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-danger" href="#">Borrar</a>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal Delete Mixer -->
<div class="modal fade" id="deleteMixerModal" tabindex="-1" role="dialog" aria-labelledby="deleteMixerModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteMixerModalLabel">¿Realmente quiere borrar esta Mezcladora?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Si acepta, no podrá utilizarla más adelante.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-danger" href="#">Borrar</a>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal Delete Mobile Unit -->
<div class="modal fade" id="deleteMobileUnitModal" tabindex="-1" role="dialog" aria-labelledby="deleteMobileUnitModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteMobileUnitModalLabel">¿Realmente quiere borrar esta Unidad Móvil?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Si acepta, no podrá utilizarla más adelante.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-danger" href="#">Borrar</a>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal Delete Sports Day -->
<div class="modal fade" id="deleteSportsDayModal" tabindex="-1" role="dialog" aria-labelledby="deleteSportsDayModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteSportsDayModalLabel">¿Realmente quiere borrar esta Jornada?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Si acepta, no podrá utilizarla más adelante.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-danger" href="#">Borrar</a>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Quieres desconectarte?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Seleccione "Salir" si realmente quieres cerrar la sesión.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-primary" href="/logout">Salir</a>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>


<script>
  $('#deleteUserModal .btn.btn-danger').click(function (ev) {
    ev.preventDefault();
    $("#deleteForm").submit();
  });
</script>

<script>
  $('#deleteCameraModal .btn.btn-danger').click(function (ev) {
    ev.preventDefault();
    $("#deleteCameraForm").submit();
  });
</script>

<script>
  $('#deleteMatchPeriodModal .btn.btn-danger').click(function (ev) {
    ev.preventDefault();
    $("#deleteMatchPeriodForm").submit();
  });
</script>

<script>
  $('#deleteMixerInputModal .btn.btn-danger').click(function (ev) {
    ev.preventDefault();
    $("#deleteMixerInputForm").submit();
  });
</script>


<script>
  $('#deleteMixerModal .btn.btn-danger').click(function (ev) {
    ev.preventDefault();
    $("#deleteMixerForm").submit();
  });
</script>

<script>
  $('#deleteMobileUnitModal .btn.btn-danger').click(function (ev) {
    ev.preventDefault();
    $("#deleteMobileUnitForm").submit();
  });
</script>

<script>
  $('#deleteSportsDayModal .btn.btn-danger').click(function (ev) {
    ev.preventDefault();
    $("#deleteSportsDayForm").submit();
  });
</script>